.toggle-button {
    -fx-graphic: url("images/musicOn.png");
    -fx-background-color: transparent;
}

.toggle-button:selected {
    -fx-graphic: url("images/musicOff.png");
    -fx-background-color: transparent;
}