.toggle-button {
    -fx-graphic: url("../images/musicOn.png");
    -fx-background-color: transparent;
}

.toggle-button:selected {
    -fx-graphic: url("../images/musicOff.png");
    -fx-background-color: transparent;
}

#startScreenVBox .button {
    -fx-alignment: CENTER;
    -fx-pref-height: 50;
    -fx-pref-width: 340;
    -fx-spacing: 10;
    -fx-padding: 20;
    -fx-font-size: 13;
}

VBox  {
   -fx-alignment: CENTER;
    -fx-pref-height: 55;
    -fx-pref-width: 230;
    -fx-spacing: 10;
}

.button {
    -fx-pref-width: 230;
    -fx-pref-height: 55;
}